/*
/*/
!/assets/
/assets/*
!/assets/materialtest/
!/.gitignore
!/.travis.yml
!/appveyor.yml
!/CMakeLists.txt
!/setup_builds.sh
!/setup_builds.bat
!/Header.jpg
!/Readme.md
!/LICENSE.txt
!/src/
!/data/editor
!/data/example-scenes
!/data/materialtest
!/data/mc-loader
!/data/shaders
!/cmake/